.footer {

    background-color: #000;

    ul {
        list-style: none;
        display: flex;
        width: 80vw;
        margin: 0 auto;
        justify-content: space-around;
    }

    li {
        padding: 20px;
    }

    a {
        color: white;

        &:hover {
            color: #232323;
        }
    }
}