.mainIndex {
    background-color: #232323;
    min-height: 80vh;
    color: white;
}

.mainTitle {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 10vw;
}

h2 {
    padding: 15px;
    margin: 0 auto;
}

h3 {
    padding: 15px;
    margin: 0 auto;
}

p {
    margin: 0 auto;
    max-width: 75vw;
    padding: 10px;
}